[submodule "packages/live2d/src/external/framework"]
	path = packages/live2d/src/external/framework
	url = https://github.com/Live2D/CubismWebFramework.git
	branch = master
[submodule "packages/live2d/src/external/samples"]
	path = packages/live2d/src/external/samples
	url = https://github.com/Live2D/CubismWebSamples.git
	branch = master
